---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1117]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head()

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
dtype: object

In [849]:
def date_sorter():
    
    # Your code here
    
    return # Your answer here

# My Scratch Work

In [850]:
import re
import pandas as pd

Open & read the `dates.txt` file

In [4]:
file = open('dates.txt', 'r')
text = file.read()

Test a simple regex

In [5]:
num_idx = 35
test = text.splitlines()[num_idx]
test

'3/15/83 SOS-10 Total Score:'

In [6]:
re.findall(r'\d{,2}[/]+\d{,2}[/]\d{,4}', test)

['3/15/83']

Troubleshooting dates that don't get picked up with this regex:

`re.findall(r'\d{,2}[/]+\d{,2}[/]\d{,4}', test)`

In [303]:
dates = []
nondates = {}
for i, line in enumerate(text.splitlines()):
    temp = re.findall(r'\d{,2}[/|-]+\d{,2}[/|-]\d{,4}', line)
    if len(temp) != 0:
        dates.append(temp)
    else:
        nondates[i] = line
        
num_missing = len(nondates)
print(f"Number of missing dates: {num_missing}")

Number of missing dates: 365

In [304]:
# All missed lines

nondates.keys()

dict_keys([125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 372, 373, 374, 375, 376, 377, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499])

Test a new regex for missed dates

Helpful article:
*https://blog.softhints.com/python-regex-match-date/

In [9]:
df.head().str.extractall(r'(\d{,2}[/-]\d{,2}[/-]\d{,4})')

                0
  match
0 0      03/25/93
1 0       6/18/85
2 0        7/8/71
3 0       9/27/75
4 0        2/6/96

In [10]:
test = '23 Oct 2002'
test

'23 Oct 2002'

In [11]:
re.findall(r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}', test)

['23 Oct 2002']

In [12]:
test = 'October 23, 2002'
test

'October 23, 2002'

In [13]:
re.findall(
    r'\d{2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) [a-z]* \d{4}', 
    test
)

[]

In [14]:
test = '10/2002'

In [15]:
#This should match all date formats
regex = r'(?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{,2}, )?\d{,4}'

In [16]:
re.findall(regex, test)

[]

#### Testing a function broken out -- Step 1

Numeric month day year

In [1118]:
first_pass = df.str.extractall(
    r'(?P<origin>(?P<month>\d?\d)[/|-](?P<day>\d{,2})[/|-](?P<year>\d{,4}))',
)

In [1119]:
#Potentially just remove years with len != 2 or 4
first_pass[70:80]

              origin month day  year
   match
70 0         7/04/82     7  04    82
71 0         4-13-89     4  13    89
72 0         7/11/77     7  11    77
   1        9/36/308     9  36   308
73 0         4/12/74     4  12    74
74 0        09/19/81    09  19    81
75 0          9/6/79     9   6    79
76 0         12/5/87    12   5    87
77 0      01/05/1999    01  05  1999
78 0         4/22/80     4  22    80

In [1120]:
year_len = first_pass.loc[:, 'year'].str.len()
first_pass = first_pass[(year_len == 2) | (year_len == 4)]

Next steps: remove these rows from the search and tackle the remaining

* https://github.com/sidsriv/Applied-text-mining-in-Python/blob/master/Assignment%2B1.ipynb
* https://github.com/umer7/Applied-Text-Mining-in-Python/blob/master/Assignment%2B1.ipynb

Try this for months: https://stackoverflow.com/questions/35413746/regex-to-match-date-like-month-name-day-comma-and-year/35413952

In [1121]:
df_remaining = df[~df.index.isin(first_pass.index.get_level_values(0).tolist())]

In [1125]:
print("Number remaining after Step 1: {}".format(df_remaining.shape[0]))

Number remaining after Step 1: 375

#### Second pass - Step 2

day month year

In [1126]:
#regex = r'((?:\d{,2} )?(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{,2}, )?\d{,4})'
regex = r'(?P<original>(?P<day>\d{,2}\s)(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:\d{,2}\s))(?P<year>\d{,4}))'
second_pass = df_remaining.str.extractall(regex)
second_pass = second_pass[second_pass.year.notnull()] #remove non-dates
second_pass.head()

               original  day  month  year
    match
125 0       24 Jan 2001  24    Jan   2001
126 0       10 Sep 2004  10    Sep   2004
127 0       26 May 1982  26    May   1982
128 0      28 June 2002  28   June   2002
129 0       06 May 1972  06    May   1972

In [1127]:
#Remove second pass 
df_remaining = df_remaining[~df_remaining.index.isin(second_pass.index.get_level_values(0).tolist())]

In [1128]:
print("Number remaining after Step 2: {}".format(df_remaining.shape[0]))

Number remaining after Step 2: 212

#### Third pass - Step 3

month str day year

In [1129]:
idx = 321
idx = 129
df[idx]

'06 May 1972 SOS-10 Total Score:\n'

In [1134]:
#WORKS FOR 194 & 204!
regex = r'(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:\d{,2})).*(?:[. ])(?P<day>\d{2}).(?:[/.|, ])(?P<year>\d{2,4})'

#Test for 321
#WORKS FOR 194 & 204! -- gets the 2 & 6
#regex = r'(?P<day>^\d{,2})'
#Gets day and year
#regex = r'(?P<day>^\d{,2}).*(?:[/.|, ])(?P<year>\d{2,4})'
#regex = r'(?P<day>^\d{,2}).*([?:[/.|, ]]|)(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*(?:\d{,2})).*(?:[/.|, ])(?P<year>\d{2,4})'
re.findall(
    regex,
    df[idx]    
)

[]

In [1135]:
df[[idx]].str.extractall(regex)

Empty DataFrame
Columns: [month, day, year]
Index: []

In [1136]:
df_remaining.str.extractall(regex)

               month day  year
    match
194 0          April  11  1990
196 0            Feb  18  1994
198 0        October  11  2013
200 0           July  26  1978
202 0            May  15  1989
203 0      September  06  1995
204 0            Mar  10  1976
208 0      September  01  2012
209 0           July  25  1983
210 0         August  11  1989
211 0          April  17  1992
213 0           July  11  1997
214 0            Sep  10  1974
215 0         August  14  1981
216 0            Nov  11  1988
218 0            May  14  1989
221 0            Oct  18  1980
222 0            May  15  1998
224 0           July  25  1998
225 0           June  15  1972
227 0      September  15  2011

In [839]:
df_remaining[~df_remaining.index.isin(df_remaining.str.extractall(regex).index.levels[0])]

229    t Allergies Sulfa (Sulfonamide Antibiotics) - ...
233    Dr. Gloria English, who conducted an initial c...
235    pOct 2015 - Admitted to Gray Clinic for depres...
240    )- Venlafaxine 37.5mg daily: May, 2011: self-d...
244    s Mr. Moss is a 27-year-old, Caucasian, engage...
245    lNovember 1990 - NPCCHx of Outpatient Treatmen...
247                     "May 1983"Primary Care Doctor:\n
250    ) He endorsed the following hyperarousal sympt...
251                 December 1998 Primary Care Doctor:\n
256      IAug 1988: Symmes Hospital s/p SA OD with ASA\n
266                September 1999 Primary Care Doctor:\n
270                     May, 2006 Primary Care Doctor:\n
273    ) - Zoloft 100 mg daily: February, 2010 : self...
276                    April 1986 Primary Care Doctor:\n
281    yAug 2004 - Dr. Tom Ngo at TMC; dx GAD; patien...
283                         AFeb 1977: Symmes Hospital\n
285    sSep 1983 GSW to face (L-TMJ region), ? gang r...
294                 February 1983 Primary Care Doctor:\n
299                    March 1974 Primary Care Doctor:\n
306                   May, 2004 Hx of Brain Injury: No\n
308    dCelexa: most helpful, came off half-way throu...
311    - Prozac 20 mg daily:  February, 1995: self-di...
317    . Psychosocial: lives w/ father, looking to ge...
318                      ) Paxil (Jan 1978) : sedation\n
321                 2June, 1999 Audit C Score Current:\n
324    Hep C and HIV negative, LFTs WNL (October 1996...
328    s Pt reports long Hx of drug addiction. PLEASE...
329    CLLC and DCF - ended in March, 2000. Psychiatr...
330    "-worked with Uma Dewitt (ED specialist) x 10 ...
333           sNovember 1997 - suicidal ideation - HHR\n
                             ...
470    y1983 Clinic Hospital, first hospitalization, ...
471    tProblems Urinary incontinence : mild urge inc...
472    .2010 - wife; nightmares and angry outbursts; ...
473         shx of TBI (1975) ISO MVA.Medical History:\n
474    sPatient reported losing three friends that pa...
475                        TSH okay in 2015 Prior EKG:\n
476    1989 Family Psych History: Family History of S...
477    oEnjoys animals, had a dog x 14 yrs who died i...
478    eHistory of small right parietal subgaleal hem...
479    sIn KEP Psychiatryfor therapy and medications ...
480    1. Esophageal cancer, dx: 2013, on FOLFOX with...
481                                        y1974 (all)\n
482    h/o restraining order by sister/mother in 1990...
483    sTexas Medical Center; Oklahoma for 2 weeks; 1...
484    Death of former partner in 2004 by overdose as...
485    Was "average" student.  "I didn't have too man...
486    Contemplating jumping off building - 1973 - di...
487    appendectomy s/p delivery 1992 Prior relevant ...
488    tProblems renal cell cancer : s/p nephrectomy ...
489        ran own business for 35 years, sold in 1985\n
490                                  Lab: B12 969 2007\n
491                                   )and 8mo in 2009\n
492    .Moved to USA in 1986. Suffered from malnutrit...
493                                              r1978\n
494    . Went to Emerson, in Newfane Alaska. Started ...
495    1979 Family Psych History: Family History of S...
496    therapist and friend died in ~2006 Parental/Ca...
497                         2008 partial thyroidectomy\n
498    sPt describes a history of sexual abuse as a c...
499    . In 1980, patient was living in Naples and de...
Length: 191, dtype: object